@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: #3f3f3f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", sans-serif;
}

@media screen and (min-width: 768px) {
  .contain {
    max-width: 720px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 996px) {
  .contain {
    max-width: 960px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .contain {
    max-width: 1270px;
    margin: auto;
  }
}
